<% provide(:title, "index") %>
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "お気に入り",   '#' %></li>
        </ul>
      </nav>
    </div>

    <div class="Configuration">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "設定",   '#' %></li>
        </ul>
      </nav>
    </div>
    
    <div class="Register">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <%= link_to "新規登録",   bookmarks_new_path %>
        </ul>
      </nav>
    </div>
  </body>
</html> 
