h1{
  margin: auto;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.field1{
  margin: auto;
  text-align: center;
  padding-right: 70px;
  font-size: 25px;
  height: 75px;
}

.field2{
  margin: auto;
  text-align: center;
  padding-right: 130px;
  font-size: 25px;
  height: 75px;
}

.field3{
  margin: auto;
  text-align: center;
  padding-right: 150px;
  font-size: 25px;
  height: 75px;
}

.field4{
  margin: auto;
  text-align: center;
  padding-right: 75px;
  font-size: 25px;
  height: 75px;
}

.actions{
  text-align: center;

}